main {
  grid-area: main;
  /* min-width: 70vw; */
}

.container menu {
  grid-area: home;
}

.container aside {
  grid-area: nav;
  /* position: fixed; */
  right: 0;
}

.musicPlayer {
  grid-area: player;
}
