.mediaContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1rem;

  gap: 4rem;
}

.mediaCard {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  /* background-color: #181818; */
  background-color: #1b1b1b;
  border-radius: 8px;
  overflow: hidden;
  width: 11.4rem;
  height: 17rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.5s;
  justify-content: center;
}

.mediaCard:hover {
  /* transform: scale(1.00); */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

.mediaImageContainer {
  width: 100%;
  padding-top: 100%; /* This maintains a 1:1 aspect ratio */
  position: relative;
  left: 13px;
}

.mediaImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 85%;
  object-fit: cover;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.playIcon {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-20%, -100%);
  font-size: 3.7vw;

  color: green;

  display: none;
  margin: 0;
  transition: font-size 0.5s;
}

.mediaCard:hover .playIcon {
  display: flex;
  width: 100%;
}
.playIcon:hover {
  font-size: 4vw;
}
.mediaCard:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.mediaInfo {
  padding: 0.5rem;
  color: white;
}

.mediaTitle {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
  margin-left: 1rem;
}

.mediaReleaseDate {
  font-size: 0.875rem;
  color: #b3b3b3;
  margin-left: 1rem;
}

.headerGenre {
  display: flex;
  border-radius: 0.3rem;
  padding: 3rem;
  margin: 1rem;

  margin-bottom: 2rem;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 52, 253, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );

  gap: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.containerCardGenre {
  overflow-y: scroll;
  height: 80vh;
  margin: 0.5rem;
  padding: 1rem;
  background-color: #131313;
  border-radius: 0.5rem;
}
.headerGenre h1 {
  font-weight: bold;
  font-size: 5rem;
}
.containerCardGenre h2 {
  margin: 1rem 1rem 1rem 1.5rem;
}
.containerSongs {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  gap: 4rem;

  margin-top: 2rem;
}
