.GenreCard {
  display: flex;

  flex-direction: column;
  width: 13vw;
  justify-content: space-between;
  height: 20vh;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  font-weight: bold;
}
.containerSearch {
  margin-left: 2rem;
  overflow-y: scroll;
  display: flex;
  background-color: #131313;
  padding: 1rem;
  border-radius: 0.5rem;
  flex-direction: column;

  height: 80vh;
}
.cardGenres {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  overflow: auto;
  gap: 2rem;
}
.containerSearch h2 {
  margin-bottom: 1rem;
}
.GenreCard img {
  width: 7vw;
  height: 8;
  align-self: flex-end;

  position: relative;
  left: 1.5rem;
  top: 1.5rem;
  transform: rotateZ(20deg);
}
.musicCard {
  background-color: rgb(220, 20, 140);
}
.podcusCard {
  background-color: rgb(0, 100, 80);
}
.LiveCard {
  background-color: rgb(132, 0, 231);
}
.madeForYouCard {
  background-color: rgb(30, 50, 100);
}

.ReleasesCard {
  background-color: rgb(232, 17, 91);
}
.MerchCard {
  background-color: rgb(39, 133, 106);
}
.PopCard {
  background-color: rgb(20, 138, 8);
}
.Hip-HopCard {
  background-color: rgb(80, 55, 80);
}
.RockCard {
  background-color: rgb(233, 20, 41);
}
.LatinCard {
  background-color: rgb(225, 17, 140);
}
.ChartsCard {
  background-color: rgb(13, 115, 236);
}
.EducationalCard {
  background-color: rgb(71, 125, 149);
}
.DocumentaryCard {
  background-color: rgb(80, 55, 80);
}
.ComedyCard {
  background-color: rgb(175, 40, 150);
}
.Charts2Card {
  background-color: rgb(141, 103, 171);
}
.DanceElectronicCard {
  background-color: rgb(216, 64, 0);
}
.MoodCard {
  background-color: rgb(225, 17, 140);
}
.IndieCard {
  background-color: rgb(233, 20, 41);
}
.WorkoutCard {
  background-color: rgb(119, 119, 119);
}
.DiscoverCard {
  background-color: rgb(141, 103, 171);
}
.CountryCard {
  background-color: rgb(216, 64, 0);
}
.K-popCard {
  background-color: rgb(20, 138, 8);
}
.mChillCard {
  background-color: rgb(216, 64, 0);
}
.SleepCard {
  background-color: rgb(30, 50, 100);
}
.AtHomeCard {
  background-color: rgb(81, 121, 161);
}
.MetalCard {
  background-color: rgb(233, 20, 41);
}
.JazzCard {
  background-color: rgb(119, 119, 119);
}
.WellnessCard {
  background-color: rgb(165, 103, 82);
}
.TrendingCard {
  background-color: rgb(176, 40, 151);
}
.AnimeCard {
  background-color: rgb(228, 29, 99);
}
