.Container {
  display: flex;
  flex-direction: row;  
  gap: 1.5rem;
}

.artistCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem; /* 240px */
  position: relative;
  height: 17rem;
  width: 11.4rem;
  background-color: #1b1b1b;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

.playIcon {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-20%, -200%);
  font-size: 3.7vw;
  color: green;

  display: none;
  margin: 0;
  transition: font-size 0.5s;
}

.artistCard:hover .playIcon {
  display: flex;
  width: 100%;
  cursor: pointer;

}
.playIcon:hover {
  font-size: 4vw;
}
.artistCard:hover {
  background-color: hsla(0, 0%, 100%, 0.300);

}

.artistImageContainer {
  margin-top: 1rem;
  width: 9rem; /* 128px */
  height: 9rem; /* 128px */
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0 8px 24px rgba(0,0,0,.5);
}

.artistInfo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.artistImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* box-shadow: 0 8px 24px rgba(0,0,0,.5); */

}

.artistName {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.type {
  color: var(--text-subdued, #6a6a6a);
  font-weight: 600;
}
