.musicPlayer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  position: fixed;
  bottom: 0;
  height: 15vh;
  width: 100%;
}

.audioSetting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.musicPlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.currentSong {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.songInfo > * {
  text-align: right;
}

.albumCover {
  width: 7vw;
}

.playToggle {
  cursor: pointer;
  width: 5vw;
  color: white;
}
