.registerPage{
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* First register section */
.registerPreview{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.emailForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.email{
    width: 100%;
    position: relative;
}
.email label{
    font-size: 0.7em;
    font-weight: 700;
}
.nextButton{
    height: 35px;
    background-color: #1ed760;
    border-radius: 50px;
    font-weight: 700;
}
.nextButton:hover{
    background-color: #1fdf64;
    cursor: pointer;
}
.nextButton:active{
    background-color: #169c46;
}
.inputs{
    border: 1px solid #878787;
    background-color: transparent;
    height: 30px;
    border-radius: 3px;
    width: 100%;
    color: #ffffff;
}
.inputs:active, .inputs:focus, .registerButtons button:hover{
    border: 1px solid #fff;
}
.thirdPartyBtnSec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.topSectionBorder{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.topSectionBorder::before{
    content: " ";
    height: 1px;
    background-color: #727272;
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px 
}
.topSectionBorder::after{
    box-sizing: border-box;
}
.topSectionBorder span{
    background-color: #121212;
    padding: 0 12px;
    font-size: 0.7em;
    z-index: 9999;
}
.bottomBorder::before{
    background-color: #292929;
}
.registerButtons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.registerButtons button{
    height: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 50px;
    font-weight: 700;
    border: 1px solid #878787;
    background-color: transparent;
}
.registerButtons button svg{
    font-size: 20px;
}
.registerButtons button span{
    width: 160px;
    text-align: left;
}
.facebook{
    color: #005cff;
    background-color: white;
    border-radius: 50%;
    border: 0;
}
.haveAnAccount p{
    color: #a7a7a7;
    font-size: 0.7em;
    text-align: center;
}
.haveAnAccount u{
    color: #fff;
    cursor: pointer;
}

/* Next Section */
.nextSection{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}
.topBar{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.topBar::before{
    content: " ";
    height: 1px;
    background-color: #727272;
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px 
}
.topBar::after{
    content: " ";
    height: 1px;
    background-color: #1ed760;
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    width: 50%;
}
.passwordForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}
.stages{
    display: flex;
    align-self: flex-start;
    margin: 20px 0;
}
.arrowBtn svg{
    color: #878787;
    font-size: 30px;
}
.arrowBtn svg:hover{
    color: #fff;
}
.stagesShow{
    color: #878787;
    font-size: 0.9em;
}
.stagesPar{
    font-size: 0.8em;
}
.email .eye{
    position: absolute;
    top: 56%;
    left: 92%;
}
.nextSection .nextButton{
    margin-top: 30px;
}